extends layout

block content
        div
            div
                ul.topnav
                    
                    li.right
                        span#username #{user.name}
                        a(href='logout') Logout

        div#feed
            button#submit
                a(href='submitIdea') Submit An Idea
            -if (data[0]) 
                div#socket
                    -for (var i=0; i<data.length; ++i) {
                        div.test
                            h3#ideaTitle #{data[i].title}
                            p#ideaBody #{data[i].body}
                        button#like
                            a.linkshowlikes(href='#', rel='#{data[i]._id}') Like
                        span.likesCount(id='#{data[i]._id}')
                        button#dislike
                            a.linkshowdislikes(href='#', rel='#{data[i]._id') DisLike
                        span#showdislike
                        span#comment 
                            a Comment
                        div#dateposted
                            span#by By
                            a 
                                span#byname #{data[i].name}
                        span#commentdata #{data[i].time}

                    -}
            -else
                div#noposts No posts at this time
