extends layout

block content
        
        div.submit
            button#submit
                a.feed-link(href='submitIdea') Submit An Idea
        div.feed
            -if (data[0]) 
                div#socket
                    -for (var i=0; i<data.length; ++i) {
                        div.test(id='#{data[i]._id')
                            h3#ideaTitle #{data[i].title}
                            p#ideaBody #{data[i].body}
                        button#like
                            a.linkshowlikes(href='#', rel='#{data[i]._id}') Like
                        span.likesCount(id='#{data[i]._id}') #{data[i].likeCount}
                        button#dislike
                            a.linkshowdislikes(href='#', rel='#{data[i]._id}') DisLike
                        span#showdislike
                        span#commentidea 
                            a.feed-comment(href='#') Show Comments
                        div#dateposted
                            span#by By 
                            a.feed-link(href='#')
                                span#byname #{data[i].name}
                        span#commentdata #{data[i].time}
                        form#postComment(action='/postComment', method='POST')
                            textarea.ideacomment(id='#{data[i]._id}', name='ideacomment', placeholder='write a comment...')
                            input.sub(id='#{data[i]._id}', type='submit', value='comment')
                        .commentarea(id='#{data[i]._id}')

                    -}
            -else
                div#noposts No posts at this time
