extends layout

block content
    div
      #nav-bar
        ul.topnav                    
          li.right
            a(href='/logout') Logout  
          li.left
            a(id='username', href='/user/#{currentUser.name}') #{currentUser.name} 

    aside.centerme
      h1#theusername #{currentUser.name}
      img#profPic(src='human.jpg')
      #feedbtn
        a#feedlinkbtn(href='/feed') Feed

    article#centerme
      #postsOuter
        form#commentform(action='/postIdea', method='post')
          input#comment_title(type='text', name='comment_title', value='', tabindex='1', required='required', placeholder='Idea title...')
          br
          textarea#comment(name='comment', rows='10', tabindex='4', required='required', placeholder='Post your idea...')
          input#sub(name='submit', type='submit', value='Submit Idea')
        br
        span#myidea 
          a.profile-post(href='#', id='myideapost') Show Ideas
        .my-post
          -if (data[0])
              -for (var i=0; i<data.length; ++i) {
                  div.mypost(id='post#{data[i]._id}')
                      a.colorize(href='/user/#{data[i].name}')
                          div.smallpic
                          div.smallname #{data[i].name}
                      br
                      div.statusbody 
                        h3#ideaTitle #{data[i].title} 
                        p#ideaBody #{data[i].body}
              -}
          -else
            div#noposts No posts at this time
          
